.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Add scrollbar for vertical overflow */
  max-height: calc(100vh - 60px); /* Adjust max-height as needed */
}

.grid-container {
  display: flex;
  flex-direction: column; /* Change to column direction */
  align-items: center;
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  margin-top: 20px;
}

.grid-item {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px; /* Adjust margin as needed */
}

.location-name {
  margin-top: 10px;
  font-weight: bold;
}
